@keyframes fill-cycle {
  0% {
    fill: #ffbf00;
  }
  50% {
    fill: #ffecb2;
  }
  60% {
    fill: #ffecb2;
  }
  100% {
    fill: #ffbf00;
  }
}

@keyframes float1 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-2px) translateX(2px);
  }
}
@keyframes float3 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-2px, -1.5px);
  }
  50% {
    transform: translate(1.5px, -3px);
  }
  75% {
    transform: translate(-1px, -1.5px);
  }
}
@keyframes float4 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1.5px);
  }
}

@keyframes float5 {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
}

#floatfive {
  animation: float5 5.5s ease-in-out infinite;
}
#floatone {
  animation: float1 4s ease-in-out infinite;
}
#floattwo {
  animation: float2 5s ease-in-out infinite;
}
#floatthree {
  animation: float3 6s ease-in-out infinite;
}
#floatfour {
  animation: float4 3.5s ease-in-out infinite;
}

#diamond-fill,
#main-fill {
  animation: fill-cycle 12s infinite linear;
}
