@import "tailwindcss";
@plugin "daisyui";
@import "@ucdavis/gunrock-tailwind/imports.css";

@theme {
  --color-cru-border: oklch(0.283 0.0091 285.81);
}

@plugin "daisyui/theme" {
  name: "gunrock";
  --color-base-100: var(--color-dark-bg-100);
  --color-base-200: var(--color-dark-bg-200);
  --color-base-300: var(--color-dark-bg-300);
  --color-base-content: var(--color-darkmode-primary-font);
}
html {
  background-color: var(--color-dark-bg-100);
  scroll-behavior: smooth;
}
.container {
  padding: 0;
  width: 94%;
  margin: 0 auto;
  /* For small screens (sm breakpoint) */
  @media (max-width: 640px) {
    .container {
      max-width: 100%;
    }
  }
  /* For medium screens (md breakpoint) */
  @media (min-width: 641px) and (max-width: 1024px) {
    .container {
      width: 92%;
      max-width: 100%;
    }
  }
  /* For large screens (lg breakpoint) */
  @media (min-width: 1025px) {
    .container {
      width: 90%;
      max-width: 1080px;
    }
  }
}
